<div id="wb" class="wb">
    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-2">
                <img src="{{ cpu_act }}" width="195px"/>

            </div>
            <div class="col-lg-10">
                <img src="{{ cpu_history }}" width="1260px"/>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-2">
                <img src="{{ ram_act }}" width="195px"/>

            </div>
            <div class="col-lg-10">
                <img src="{{ ram_history }}" width="1260px"/>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-2">
                <img src="{{ hdd_usage }}" width="195px"/>

            </div>
            <div class="col-lg-10">
                <img src="{{ hdd_history }}" width="1260px"/>
            </div>
        </div>

                <div class="row">
            <div class="col-lg-2">
                <hr>
                <h5>ComAp Resources monitor webapp, powered by Python</h5>
                <hr>
                <h3>{{ time }}</h3>

            </div>
            <div class="col-lg-10">
                <img src="{{ net_history }}" width="1260px"/>
            </div>
        </div>

    </div>
</div>